<div class="container">

<nav class="navbar navbar-dark bg-primary">
    <div class="nav navbar-nav">
      <a routerLink="/" class="nav-item nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <i class="fa fa-home"></i> Home
      </a>
      <a routerLink="/dashboard" class="nav-item nav-link" routerLinkActive="active">
        <i class="fa fa-list"></i> DashBoard
      </a>
      <a routerLink="/products" class="nav-item nav-link" routerLinkActive="active">
        <i class="fa fa-list"></i> Products
      </a>
      <a routerLink="/offers" class="nav-item nav-link" routerLinkActive="active">
        <i class="fa fa-list"></i> Offers
      </a>
      <a routerLink="/chat" class="nav-item nav-link" routerLinkActive="active">
        <i class="fa fa-list"></i> Chat
      </a>
      <a routerLink="/team" class="nav-item nav-link" routerLinkActive="active">
        <i class="fa fa-list"></i> Team Members
      </a>
    </div>
  </nav>

<router-outlet></router-outlet>

</div>